<div class="card">
  <%= link_to image_tag(prototype.image, class: :card__img ), prototype_path(prototype.id)%>
  <p class="prototype__manage">
      <%# <% if user_signed_in? && current_user.id == prototype.user_id %>
       <%# <%= link_to "編集する", edit_prototype_path, class: :prototype__btn %> 
       <%# <%= link_to "削除する", root_path, class: :prototype__btn %> 
      <%# <% end %> 
  </p>
  <div class="card__body">
    <%= link_to prototype.title, prototype_path(prototype), class: :card__title%>
    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <%= link_to "by #{prototype.user.name}", user_path(prototype.user), class: :card__user %>
  </div>
</div>